*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(138, 240, 240);
}

.dropdown-menu a:hover{
    background-color: rgb(193, 193, 193);
}
 li a{
    align-items: center;  
    padding-left: 20px;  
}

/* .carousel-inner .carousel-item img{
    height: 600px;
    padding-top: 80px;
} */
p .card-title{
    font-size:40px;
}
h3{
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;
    background-color: rgb(181, 229, 250);

}
.col-md-4 img{
    border-radius: 10px;
}
.col-md-3{
    border-radius: 50%;
}
i{
    font-size: 22px;
    padding-left: 5px;
}
.col img{
    border-radius: 50%;
    align-items: center;
}
.carousel-item img{
    padding-top: 90px;
    height: 600px;
    position: absolute;
}
.para1{
    color: rgb(8, 0, 0);
    padding-top: 200px;
    padding-left: 100px;
    position: relative;
    font-size: 20px;
    z-index: 1;
    height: 600px;
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
strong{
    font-size: 30px;
}
.para1 p{
    font-family: cursive ;
    font-size: 20px;
}
.nav-item a:hover{
    background-color: rgb(43, 200, 248);
    border-radius: 20px;
    
    
}


.navbar{
    background: rgb(22,28,30);
background: linear-gradient(183deg, rgba(22,28,30,1) 36%, rgba(99,187,201,1) 77%);
}
li .btn{
    margin-left: 350px;
}
li .btn:hover{
    background-color: rgb(8, 170, 170);
}
.col{
    background: rgb(203, 214, 149);
background: radial-gradient(circle, rgb(234, 247, 170) 1%, rgba(240,246,192,0.07064075630252098) 100%);
}