.img{

	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
}
.img1{
	border-bottom-right-radius:60px ;
}
.img2{
	border-top-left-radius: 50%;
}
.img3{
	border-top-left-radius: 60px;
	border-bottom-right-radius: 60px;
}
.img4{
	border-radius:50%;
}
span{
	padding: 90px;

.img5{
	
	border-top:hidden;
	border-top-left-radius: 60px;
	border-left: solid black;
	border-bottom-right-radius: 60px;
	
	
}
.vid{
	border: 3px solid green;
	border-radius: 50%;
}
