
.main{
    display: flex;
    position: fixed;
}.box1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    
    
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(8, 42, 42);
    position: relative;
    left: 400px;
    
   
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(243, 173, 12);
    float:left;
   
}