.main{
    display: flex;
    justify-content: center;
    background-color: rgb(237, 10, 188);
    height: 40px;
    align-items: center;
}
li{
    list-style-type: none;
    color: rgb(31, 31, 225);
    padding-left: 30px;
    padding-right: 30px;   
}
