.cls1{
	background-color: yellow;
	height: 200px;
	width: 200px;
	border: 2px;
	padding: 20px;

}
.cls2{
	background-color: blue;
	height: 200px;
	width: 200px;
	border: 2px;
	

}
p{
	padding: 30px;
	
	
}