a{
	text-decoration: none;
}
ul{
	background-color: lightblue;
	height: 40px;
	width: 100%;
}
li{
	height: 40px;
	width: 40px;
	display: inline-block;
	text-decoration: none;
	margin-left:30px ;
	margin-bottom: 15px;
}
img{
	height: 40px;
	
}
