.box1{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    float: right;
}

.box2{
    height: 200px;
    width: 200px;
    background-color: aqua;
    float: right;
    right:400px;
    position: sticky;
    top: 0;

}

.box3{
    height: 200px;
    width: 200px;
    background-color: bisque;
}
