.btn{
    background-color: brown;
    padding: 15px 25px ;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    font-size: large;
    
}
.btn img{
    position: absolute;
    display: none;
}
.btn:hover img{
    height: 200px;
    width: 400px;
    display: block;
    border-radius: 10px;
}